
@import '~vuetify/src/stylus/main'
.theme--light .table{
  background-color: #D4D4D4;
  color: #D6DAC2;
  border-radius: 0px;
}
.theme--light .datatable .datatable__actions, .application .theme--light.datatable .datatable__actions {
  background-color: #D4D4D4;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
table{
  border-radius: 0px;
}
@import '~vuetify/src/stylus/app'
